@media (max-width: 768px) {
    .nav-link.nav-font, .nav-link.nav-email {
      font-size: 14px; /* Reduced font size for smaller screens */
    }
}

@media (max-width: 768px) {
    .nav-link.nav-email {
        margin-top: 0px;
    }
}

.active-tab {
    color: #99F49E;
}

.logout-link {
    color: red;
}
.nav-margin-bottom {
    padding-bottom: 30px;
}

.nav-bg {
    background-color: white;
}

.nav-email {
    font-size: small;
    margin-top: 7px;
}

.nav-font {
    font-size: larger;
}